.page-item:last-child .page-link,.page-item:first-child .page-link {
    width:50px!important;
}
.page-item.next:not(.disabled) .page-link, .page-item.previous:not(.disabled) .page-link {
    color:#d1d5e3!important;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
  left: unset;
  right: 0.3rem;
}
